	<video class="overlay" width="1355" height="750" autoplay>
  		<source src="app/views/images/hos.mp4" type="video/mp4">
	</video>
<div class="clearfix"></div>		
 
<div class="container-fluid" style="position:absolute; left:0px; top:400px; z-index:10000; width:100%; padding-top:50px; padding-bottom:50px;background:rgba(0,0,0,0.8);">
	<div id="op1">
		<center><h1>reMedi</h1></center>
	</div>
</div>
<br>

<div class="welcome" id="find_doc">
	<div class="container">
		<div class="wel-info">
			<br><br>
			<h3>FIND DOCTORS</h3>
			<div class="strip-line"></div>
			
		</div>
		<div class="welcome-grids">
			<div class="col-md-12 welcome-grid">
				<div class="welcome-gd second">			
					<h4>SEARCH AND BOOK APPOINTMENT WITH BEST DOCTORS IN YOUR CITY </h4><br></
					<!-- <h4><center>Find the Best available doctors around you.Book appointment and get your disease cured with any glitches.
					</center></h4><br> -->
				<br>
				<a href="/showDoctors">	<h2><center>FIND DOCTORS</center></h2>
				</div>
			</div>
			<!-- <div class="col-md-4 welcome-grid">
				<div class="welcome-gd second">
				<a href="#">
					<h4>HOMEOPATHY</h4>
					<p>Homeopathy  is a system of alternative medicine
					created in 1796 by Samuel Hahnemann based on his
					doctrine of like cures like ,a claim that a substance
					that causes the symptoms of a disease in healthy
					people would cure similar symptoms in sick people.
					Studies homeopathy is more effective than placebo.
					</p></a>
				</div>
			</div>
			<div class="col-md-4 welcome-grid">
				<div class="welcome-gd second">
				<a href="#">
					<h4>AYURVEDIC</h4>
					<p>Ayurveda or Ayurvedic medicine is a system of traditional
					Hindu medicine native to the Indian subcontinent.
					Contemporary practices derived from Ayurvedic traditions
					are a type of alternative medicine. Ayurveda is a
					discipline of the upaveda or "auxiliary knowledge"
					in Vedic tradition. 
					</p></a>
				</div>
			</div> -->
	</div>
</div>
<!-- //welcome -->
<br><br>
<!-- good -->
<div class="good" id="find_medi" style="background:rgba(0,0,0,0.6); color:white;">
	<div class="container">
		<div class="good-info">
		<h3>MEDISub</h3>
		</div>
		<div class="good-grids">
				<a href="/checkMed"><h3>Check your medicine substitutes</h3></a>
		</div>
		<div class="clearfix"></div>
		</div>
	</div>
</div>
<br><br>
<!-- //good -->
<!-- welcome -->
<div class="container" id="yoga_class">	
	
<!-- <div class="heading" id="find_gym"><center><H2>FITNESS</H2><div class="strip-line"></div>
			</center></div> -->
<br><br>
	<div class="row" id="find_gym">
			<div class="col-md-6">
				
			<center>
				<img src="app/views/images/yog.jpg" height="300" width="400"/>
				<div style="position:absolute; left:100px; top:0px; z-index:10; color:white; width:390px; font-size:50px; height:300px; "><a href="/showYoga" ><center><br>YOGA</center></a>
				</div>
			</center>
			</div>
			<div class="col-md-6">
			<center>	<img src="app/views/images/gym.jpg" width="400" height="300"/>
			
			<div style="position:absolute; left:92px; top:0px; z-index:10; color:white; width:400px; font-size:50px; height:300px; background:rgba(0,0,0,0.6);"><a href="/showGyms"><center><br>GYMS</center></a>
				</div>
			
			
			
			</center>
			</div> 

	</div>
</div>
<!-- //welcome -->
<br><br><br><br><br>



<!-- good -->
<div class="good">
	<div class="container" id="find_symp">
		<div class="good-info">
		<h3>SYMPTOM CHECKER</h3>			
		</div>
		<div class="good-grids">
				<p></p>
				<br>
				<br>
				<a href="/symChecker"><h3>ENTER YOUR SYMPTOMS</h3>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //good -->




<!-- delicious -->
<!-- <div class="delicious" id="find_events">
	<div class="container">
		<div class="delicious-info">
			<h3></h3>
			<div class="strip-line"></div>
		</div> 
		<div class="delicious-grids">
			<div class="col-md-6 delicious-grid">
				<h3>HEALTH NEWS</h3>
				<p>Coming soooon!</p>
				<a href="#">MORE</a>
			</div>
			<div class="col-md-6 delicious-grid">
				<h3>EVENTS</h3>
				<p>Coming soooon!</p>
				<a href="#">MORE</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div> -->
<!-- //delicious -->
<!-- delicious -->
<div class="delicious" id="find_blood">
	<div class="container">
		<div class="delicious-info">
			<h3>BLOOD BANK</h3>
			<div class="strip-line"></div>
			</div>
			
			<a href="/findDonor/AB+">
				<div class="col-md-2 delicious-grid">
				<h3>AB+</h3>
				</div>
			</a>
			<a href="/findDonor/O+">
				<div class="col-md-2 delicious-grid">
				<h3>O+</h3>
				</div>
			</a>
			
			<a href="/findDonor/B+">
				<div class="col-md-1 delicious-grid">
				<h3>B+</h3>
				</div>
			</a>
			<a href="/findDonor/B-">
				<div class="col-md-1 delicious-grid">
				<h3>B-</h3>
				</div>
			</a>
			<a href="/findDonor/A+">
				<div class="col-md-1 delicious-grid">
				<h3>A+</h3>
				</div>
			</a>
			<a href="/findDonor/A-">
				<div class="col-md-1 delicious-grid">
				<h3>A-</h3>
				</div>
			</a>
			<a href="/findDonor/O-">
				<div class="col-md-2 delicious-grid">
				<h3>O-</h3>
				</div>
			</a>
			
			<a href="/findDonor/AB-">
				<div class="col-md-2 delicious-grid">
				<h3>AB-</h3>
				</div>
			</a>
			<br><br><br>
			<p>*Click on blood group to get blood.</p>
				<br>
				<br>
				<div class="delicious-info">
					<h3><a href="/donateBlood"> Donate blood!! Be a hero </a></h3><br>
				<div>
			</div>
			<div class="clearfix"></div>
		
	</div>
</div>
