<br><br><br><br><br><br>
<div class="container" ng-controller="">
<form method="post" ng-submit="">
	<input type="text" name="spec" id="spec" list="specname">
		<datalist id="specname">
  			<option value="ayurvedic">
  			<option value="homeopathic">
  			<option value="dentist">
  			<option value="physician">	
		</datalist>
	<input type="text" name="loc" id="loc" list="locname">
		<datalist id="locnames">
			<option value="delhi">
			<option value="mumbai">
			<option value="noida">
		</datalist>
</form>

<br><br><br>